.text-brand {
  color: #c6a530;
}
.text-light-grey {
  color: #a6a6a6;
}
.text-olive {
  color: #393f0e;
}
.text-turquoise {
  color: #1abc9c;
}
.text-green-sea {
  color: #16a085;
}
.text-sun-flower {
  color: #f1c40f;
}
.text-orange {
  color: #f39c12;
}
.text-emerald {
  color: #27ae60;
}
.text-nephritis {
  color: #000;
}
.text-carrot {
  color: #e67e22;
}
.text-pumkin {
  color: #d35400;
}
.text-peter-river {
  color: #3498db;
}
.text-belize-hole {
  color: #2980b9;
}
.text-alizarin {
  color: #e74c3c;
}
.text-pomegranate {
  color: #c0392b;
}
.text-amethyst {
  color: #9b59b6;
}
.text-wisteria {
  color: #8e44ad;
}
.text-clouds {
  color: #ecf0f1;
}
.text-silver {
  color: #bdc3c7;
}
.text-wet-asphalt {
  color: #34495e;
}
.text-midnight-blue {
  color: #2c3e50;
}
.text-concrete {
  color: #95a5a6;
}
.text-absestos {
  color: #7f8c8d;
}
.link-brand {
  color: #c6a530;
}
.link-brand:hover {
  color: rgba(198, 165, 48, 0.75);
}
.link-turquoise {
  color: #1abc9c;
}
.link-turquoise:hover {
  color: rgba(26, 188, 156, 0.75);
}
.link-green-sea {
  color: #16a085;
}
.link-green-sea:hover {
  color: rgba(22, 160, 133, 0.75);
}
.link-sun-flower {
  color: #f1c40f;
}
.link-sun-flower:hover {
  color: rgba(241, 196, 15, 0.75);
}
.link-orange {
  color: #f39c12;
}
.link-orange:hover {
  color: rgba(243, 156, 18, 0.75);
}
.link-emerald {
  color: #27ae60;
}
.link-emerald:hover {
  color: rgba(39, 174, 96, 0.75);
}
.link-nephritis {
  color: #000;
}
.link-nephritis:hover {
  color: rgba(0, 0, 0, 0.75);
}
.link-carrot {
  color: #e67e22;
}
.link-carrot:hover {
  color: rgba(230, 126, 34, 0.75);
}
.link-pumkin {
  color: #d35400;
}
.link-pumkin:hover {
  color: rgba(211, 84, 0, 0.75);
}
.link-peter-river {
  color: #3498db;
}
.link-peter-river:hover {
  color: rgba(52, 152, 219, 0.75);
}
.link-belize-hole {
  color: #2980b9;
}
.link-belize-hole:hover {
  color: rgba(41, 128, 185, 0.75);
}
.link-alizarin {
  color: #e74c3c;
}
.link-alizarin:hover {
  color: rgba(231, 76, 60, 0.75);
}
.link-pomegranate {
  color: #c0392b;
}
.link-pomegranate:hover {
  color: rgba(192, 57, 43, 0.75);
}
.link-amethyst {
  color: #9b59b6;
}
.link-amethyst:hover {
  color: rgba(155, 89, 182, 0.75);
}
.link-wisteria {
  color: #8e44ad;
}
.link-wisteria:hover {
  color: rgba(142, 68, 173, 0.75);
}
.link-clouds {
  color: #ecf0f1;
}
.link-clouds:hover {
  color: rgba(236, 240, 241, 0.75);
}
.link-silver {
  color: #bdc3c7;
}
.link-silver:hover {
  color: rgba(189, 195, 199, 0.75);
}
.link-wet-asphalt {
  color: #34495e;
}
.link-wet-asphalt:hover {
  color: rgba(52, 73, 94, 0.75);
}
.link-midnight-blue {
  color: #2c3e50;
}
.link-midnight-blue:hover {
  color: rgba(44, 62, 80, 0.75);
}
.link-concrete {
  color: #95a5a6;
}
.link-concrete:hover {
  color: rgba(149, 165, 166, 0.75);
}
.link-absestos {
  color: #7f8c8d;
}
.link-absestos:hover {
  color: rgba(127, 140, 141, 0.75);
}
.bg-brand {
  background-color: #c6a530;
}
.bg-olive {
  background-color: #393f0e;
}
.bg-grey {
  background-color: #545454;
}
.bg-peter-river {
  background-color: #3498db;
}
@font-face {
  font-family: "Kollektif Regular";
  src: url("../fonts/kollektif-webfont.woff") format("woff2"),
    url("kollektif-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Kollektif Bold";
  src: url("../fonts/kollektif-bold-webfont.woff2") format("woff2"),
    url("kollektif-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Kollektif Bold Italic";
  src: url("../fonts/kollektif-bolditalic-webfont.woff2") format("woff2"),
    url("kollektif-bolditalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Kollektif Italic";
  src: url("../fonts/kollektif-italic-webfont.woff2") format("woff2"),
    url("kollektif-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
.font-manrope {
  font-family: "Manrope", sans-serif !important;
}
.font-jost {
  font-family: "Jost", sans-serif !important;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.top-banner {
  border-bottom: 1px solid #dee2e6;
  object-fit: cover;
  max-height: 300px;
}
.vh-100 {
  height: calc(100% - 110px) !important;
  height: calc(100vh - 110px) !important;
}
.bg-cover {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.btn-success.hvr-underline-from-center:before,
.btn-outline-success.hvr-underline-from-center:before {
  background: #3498db;
}
.font-small {
  font-size: 0.75rem;
}
.frame,
.frame-hover {
  padding: 1px;
  border: solid 3px #efefef;
}
.frame-hover:hover,
.frame-hover frame {
  border: solid 3px #ccc;
  -moz-box-shadow: 1px 1px 5px #999;
  -webkit-box-shadow: 1px 1px 5px #999;
  box-shadow: 1px 1px 5px #999;
}
.font-big {
  font-size: 1.25rem;
}
.font-bigger {
  font-size: 1.5rem;
}
#carousel-front-page {
  height: 350px;
}
#carousel-front-page .carousel-caption {
  color: #000;
  top: 50%;
  transform: translateY(-50%);
  bottom: initial;
}
#carousel-front-page .carousel-control-next-icon {
  background-image: url("../medias/images/arrow-right.svg");
}
#carousel-front-page .carousel-control-prev-icon {
  background-image: url("../medias/images/arrow-left.svg");
}
.letter-spacing-big {
  letter-spacing: 2px;
}
.letter-spacing-bigger {
  letter-spacing: 3px;
}
.line-height-big {
  line-height: 2rem;
}
.title-header-page {
  background-color: rgba(255, 255, 255, 0.75);
}
.modal-content-events {
  height: 100%;
  height: 100vh;
  width: 100%;
  width: 100vw;
}
.select2-selection.select2-selection--single {
  border-radius: 0 !important;
}
.font-kollektif {
  font-family: "Kollektif Regular", sans-serif;
}
.font-lato {
  font-family: "Lato", sans-serif;
}
.font-merriweather {
  font-family: "Merriweather", serif;
}
.is-medium {
  display: none;
}
.is-default {
  display: none;
}
@media (min-width: 576px) {
  .is-mobile {
    display: inline-block;
  }
  .is-medium {
    display: none;
  }
  .is-default {
    display: none;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .w-sm-75 {
    width: 75% !important;
  }
}
@media (min-width: 768px) {
  .w-md-75 {
    width: 75% !important;
  }
  .is-mobile {
    display: none;
  }
  .is-medium {
    display: inline-block;
  }
  .is-default {
    display: none;
  }
}
@media (min-width: 992px) {
  .w-lg-75 {
    width: 75% !important;
  }
  .is-medium {
    display: none;
  }
  .is-default {
    display: inline-block;
  }
}
header {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
}
header .navbar-light {
  border-bottom: 2px solid #c6a530;
}
header .navbar-light .navbar-logo {
  width: 250px;
}
header .navbar-light .navbar-nav {
  font-size: 1rem;
}
header .navbar-light .navbar-nav .dropdown-menu {
  text-align: center;
  border: 1px solid #000;
  border-radius: 0px;
}
header .navbar-light .navbar-nav .dropdown-menu a {
  color: #000;
}
header .navbar-light .navbar-nav .dropdown-menu a:hover {
  background-color: unset;
  color: #c6a530;
}
header .navbar-light .navbar-nav a {
  text-transform: uppercase;
  font-weight: 300;
  -webkit-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
header .navbar-light .navbar-nav a[title*="Learn N.O.T."] {
  color: #c6a530;
  font-weight: bold;
}
header .navbar-light .navbar-nav a[title*="Learn N.O.T."]:hover {
  color: rgba(198, 165, 48, 0.75);
}
header .navbar-light .navbar-nav .nav-link {
  color: #000;
}
header .navbar-light .navbar-nav .nav-link:hover {
  color: rgba(198, 165, 48, 0.75);
}
header .navbar-light .navbar-nav .active > .nav-link {
  color: #c6a530;
}
header .navbar-light .navbar-toggler {
  border-color: transparent;
}
@media (min-width: 992px) {
  header {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
  }
  header .navbar-dark.bg-dark {
    background-color: #000;
  }
  header .navbar-dark .navbar-logo {
    width: 100px;
  }
  header .navbar-dark .navbar-nav {
    font-size: 1rem;
  }
  header .navbar-dark .navbar-nav .dropdown-menu {
    text-align: left;
  }
}
.video-container {
  overflow: hidden;
  height: 500px;
}
.video-container video {
  height: 100%;
  width: 177.77777778vh;
  min-width: 100%;
  min-height: 56.25vw;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
} /*# sourceMappingURL=app.css.map */
