$navbar-height: 110px;

.font-manrope {
  font-family: "Manrope", sans-serif !important;
}

.font-rubik {
  font-family: "Rubik", sans-serif !important;
}

.img-text-container {
  position: relative;
  text-align: center;

  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.vh-100 {
  height: calc(100% - #{$navbar-height}) !important;
  height: calc(100vh - #{$navbar-height}) !important;
}

.bg-cover {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.btn-success.hvr-underline-from-center:before,
.btn-outline-success.hvr-underline-from-center:before {
  background: colors.$peter-river;
}

.font-small {
  font-size: 0.75rem;
}
